PORT=3000
TARGET_CONTACTS=Рушан Натфуллин,Рушан
AVITO_BASE_URL=https://www.avito.ru
AVITO_MESSAGES_URL=https://www.avito.ru/profile/messenger
AVITO_LOGIN=
AVITO_PASSWORD=
AVITO_USER_DATA_DIR=.avito-session
PUPPETEER_HEADLESS=false
PUPPETEER_SLOW_MO=0
PUPPETEER_TIMEOUT_MS=30000
CLOUDFLARED_PUBLIC_URL=
